# TextMate tutorial: http://manual.macromates.com/en/language_grammars

# Regex to convert keys to unquoted: '(include|match|captures|begin|end|beginCaptures|endCaptures|name|patterns|0|1|2|3|4|5|6|7|8|9|comment|fileTypes|scopeName|repository|contentName|firstLineMatch|foldingStartMarker|foldingStopMarker)':

scopeName: 'source.dedukti' # <scope> should be a short, unique indicator for the language ("js", "php", "c", etc.)
name: 'Dedukti' # The title that will show up in grammar selection and on your status bar.
fileTypes: [ # An array of file extensions.
  'dk'
]
limitLineLength: false
firstLineMatch: '' # A regular expression that is matched against the first line of the document when Atom is trying to decide if the grammar is appropriate. Useful for shell scripts, mostly.
foldingStartMarker: '' # A regular expression that checks for the start of a foldable area (such as `{`).
foldingStopMarker: '' # A regular expression that checks for the end of a foldable area (such as `}`). If both folding markers are matched in the same line, there will be no foldable area.
patterns: [ # An array of individual pattern declarations.
  {
    'match': '\\bdef\\b'
    'name': 'constant.language.dedukti'
  }
  {
    'match': '\\bthm\\b'
    'name': 'entity.name.function.dedukti'
  }
  {
    'match': '\\bType\\b'
    'name': 'entity.name.type.dedukti'
  }
  {
    'match': '\\.'
    'name': 'entity.name.tag.dedukti'
  }
  {
      'match': '-->'
      'name': 'entity.name.function.dedukti'
  }
  {
      'match': '->'
      'name': 'constant.numeric.dedukti'
  }
  {
    'begin': '\\(;'
    'captures':
      '0':
        'name': 'punctuation.definition.comment.dedukti'
    'end': '\\;\\)'
    'name': 'comment.line.dedukti'
  }

]
