// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";

.Completed_lines {
  color: #fff;
  background-color:@text-color-success;
}

.Failed_line {
  background-color: @background-color-error;
}

.Cancelled_line {
  background-color: @background-color-warning;
}

.dedukti-editor {
  contain: size;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.focus_data {
  text-align: center;
  font-size: 120%;
}


.hypo-list{
  margin-top: 3px;
}
.title-goals {
  text-align: center;
}

.title-focus {
  text-align: center;
}

.bar-proof {
  margin: auto;
  border: auto;
  margin-top: 0px;
  margin-bottom: 2px;
  width: 200px;
}

.proof-button {
  margin-left:auto;
  margin-right: auto;
  bottom: 20px;
  //padding-bottom: 1px;
}

.list_of_hypothesis{
  margin-bottom: 5px;
}
//.goalstable{}

.proof-objectif {
  margin-bottom: auto;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.goallistelement{
  margin: auto;
  font-size: 120%;
}


.hypodot{
  padding-left: 3px;
  padding-right: 3px;
}

.goalcolumn{
  padding-left: 3px;
  padding-right: 3px;
}
