
// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "syntax-variables";



.Completed_lines{
  background-color: @background-color-success;
  color: @overlay-border-color;
}

.Failed_line{
  background-color: @background-color-error;
  color: @overlay-border-color;
}

.Cancelled_line{
  background-color: @background-color-warning;
  color: @overlay-border-color;
}
